@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.card {
    width: 25vw;
}

.card_img {
    width: 100%;
}

.card_body {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 1rem 2rem;
    font-family: 'Lato', sans-serif;
}

.card_title {
    font-weight: bold;
}

.card_text {
    font-size: 0.8rem;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: rgb(38, 160, 208);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}