.search {
    width: 100vw;
    height: 10vh;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 1rem 2rem;
}

label {
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}